In [92]:
import pandas as pd
import numpy as np
import datetime

In [107]:
contents = pd.read_csv(r'C:\StockHelper_Project\StockHelper\dataset\삼성증권_감성점수.csv')
contents['date'] = pd.to_datetime(contents['date'], infer_datetime_format=True) 
stock_date_score = contents.groupby('date').mean()['Senti_Score']

In [108]:
stock_date_score = pd.DataFrame(stock_date_score)

In [109]:
import FinanceDataReader as fdr

In [110]:
# 삼성증권
samsung_df = fdr.DataReader('016360', '2020-01-01')

In [111]:
stock_date_score.reset_index(inplace=True)

In [112]:
stock_date_score.rename(columns = {'date': 'Date'}, inplace = True)

In [113]:
stock_date_score.set_index('Date')

            Senti_Score
Date
2020-01-01     0.100000
2020-01-02     0.100000
2020-01-05     0.100000
2020-01-06     0.050000
2020-01-12     0.100000
...                 ...
2021-11-23     0.050000
2021-11-25     0.133333
2021-11-26     0.100000
2021-11-29     0.033333
2021-11-30    -0.025000

[463 rows x 1 columns]

In [114]:
result = pd.merge(stock_date_score, samsung_df, on='Date', how='right')

In [115]:
result['Senti_Score'].fillna(0, inplace=True)

In [116]:
result

          Date  Senti_Score   Open   High    Low  Close  Volume    Change
0   2020-01-02        0.100  38600  38650  37800  37850  187682 -0.019430
1   2020-01-03        0.000  38000  38500  37850  38100  266984  0.006605
2   2020-01-06        0.050  37700  38000  37150  37500  215108 -0.015748
3   2020-01-07        0.000  37500  37950  37250  37800  288546  0.008000
4   2020-01-08        0.000  37300  37400  36850  37150  287810 -0.017196
..         ...          ...    ...    ...    ...    ...     ...       ...
473 2021-11-30       -0.025  45700  45700  43800  44350  593090 -0.017719
474 2021-12-01        0.000  44400  45200  43900  45000  355242  0.014656
475 2021-12-02        0.000  44500  46000  44450  46000  267640  0.022222
476 2021-12-03        0.000  45950  47000  45350  46750  325854  0.016304
477 2021-12-06        0.000  46700  48700  46500  48550  637722  0.038503

[478 rows x 8 columns]

In [117]:
result.isnull().sum()

Date           0
Senti_Score    0
Open           0
High           0
Low            0
Close          0
Volume         0
Change         0
dtype: int64

In [118]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478 entries, 0 to 477
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         478 non-null    datetime64[ns]
 1   Senti_Score  478 non-null    float64
 2   Open         478 non-null    int64
 3   High         478 non-null    int64
 4   Low          478 non-null    int64
 5   Close        478 non-null    int64
 6   Volume       478 non-null    int64
 7   Change       478 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(5)
memory usage: 33.6 KB

In [119]:
KOSPI = fdr.DataReader('KS11', '2020-01-01')
KOSPI = KOSPI[['Change']]

In [120]:
result = pd.merge(result, KOSPI, on='Date', how='right')

In [121]:
result

,Date,Senti_Score,Open,High,Low,Close,Volume,Change_x,Change_y
0,2020-01-02,0.100,38600,38650,37800,37850,187682,-0.019430,-0.0102
1,2020-01-03,0.000,38000,38500,37850,38100,266984,0.006605,0.0006
2,2020-01-06,0.050,37700,38000,37150,37500,215108,-0.015748,-0.0098
3,2020-01-07,0.000,37500,37950,37250,37800,288546,0.008000,0.0095
4,2020-01-08,0.000,37300,37400,36850,37150,287810,-0.017196,-0.0111
...,...,...,...,...,...,...,...,...,...
473,2021-11-30,-0.025,45700,45700,43800,44350,593090,-0.017719,-0.0242
474,2021-12-01,0.000,44400,45200,43900,45000,355242,0.014656,0.0214
475,2021-12-02,0.000,44500,46000,44450,46000,267640,0.022222,0.0157
476,2021-12-03,0.000,45950,47000,45350,46750,325854,0.016304,0.0078
477,2021-12-06,0.000,46700,48700,46500,48550,637722,0.038503,0.0038

In [122]:
result.rename(columns = {'Change_x': 'EachStock', 'Change_y':'KOSPI'}, inplace = True)

In [123]:
result

,Date,Senti_Score,Open,High,Low,Close,Volume,EachStock,KOSPI
0,2020-01-02,0.100,38600,38650,37800,37850,187682,-0.019430,-0.0102
1,2020-01-03,0.000,38000,38500,37850,38100,266984,0.006605,0.0006
2,2020-01-06,0.050,37700,38000,37150,37500,215108,-0.015748,-0.0098
3,2020-01-07,0.000,37500,37950,37250,37800,288546,0.008000,0.0095
4,2020-01-08,0.000,37300,37400,36850,37150,287810,-0.017196,-0.0111
...,...,...,...,...,...,...,...,...,...
473,2021-11-30,-0.025,45700,45700,43800,44350,593090,-0.017719,-0.0242
474,2021-12-01,0.000,44400,45200,43900,45000,355242,0.014656,0.0214
475,2021-12-02,0.000,44500,46000,44450,46000,267640,0.022222,0.0157
476,2021-12-03,0.000,45950,47000,45350,46750,325854,0.016304,0.0078
477,2021-12-06,0.000,46700,48700,46500,48550,637722,0.038503,0.0038

In [125]:
result.to_csv(r'C:\StockHelper_Project\StockHelper\dataset\삼성증권TEST.csv')

In [124]:
import matplotlib.pyplot as plt
import seaborn as sns